html{
  scroll-behavior: smooth;
}

/* styles.css */
body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  color: #fff;
}

/* リセットCSS */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
img{
  width: auto;
  height: auto;
}
  /* 全体のスタイル */
  body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }
  
 

/* =====styles.css======= */
/* ▼common_css */
.btn-deco{
  width: 50%;
  background-color: #000;
  border: solid 1px #fff;
  border-radius: 2em;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  transition: .5s;
}
.btn-deco:hover{
  background-color: #fff;
  color: #000;
  transition: .5s;
}
/* ▼グローバルナビゲーション */
.gro-navi {
  background: rgba(0,0,0,.9);
  padding: 3vw 3vw 3vw 1.5vw;
  text-align: center;
  position: fixed;
  width: 23vw;
  height: 100vh;
  z-index: 2;
  box-sizing: border-box;
}

.gro-navi .nav-inner{
  padding-left: 1.5vw;
  border-left: solid 1px #fff;
  height: 100%;
  width: 100%;
}

.gro-navi .nav-ttl,
.gro-navi .nav-item{
  position: absolute;
  top: 45vh;
}
.gro-navi .nav-item{
  z-index: 3;
}
.gro-navi .nav-item:hover{
  color: #ff6600;
}
.gro-navi .nav-ttl{
  z-index: 4;
  animation: hover-ttl-2 forwards;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes hover-ttl-2 {
  0%{
    transform: translateY(-2em);
  }
  100%{
    transform: translateY(0);
  }
}
.gro-navi:hover .nav-ttl{
  animation: hover-ttl forwards;
  animation-duration: 1s;
  animation-iteration-count: 1;
  color: #fff;
}
@keyframes hover-ttl {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-2em);
  }
}

.gro-navi .nav-item a{
  font-weight: lighter;
  text-decoration: none;
  opacity: 0;
  color: #fff;
  transition: .5s;
}
.gro-navi:hover .nav-item a{
  opacity: 1;
  transition: 1s;
}

.gro-navi .navi-inner
.gro-navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gro-navi ul li {
  display: inline;
  margin-right: 20px;
}

.gro-navi .nav-item li a,
.gro-navi .nav-ttl{
  display: block;
  text-align: left;
  margin-bottom: 20px;
  font-size: min(2.7vw,40px);
}

.gro-navi .nav-ttl{
  margin-bottom: 0;

}
  /* コンテンツセクションのスタイル */
  section {
    text-align: center;
    padding: 40px 30px;
    box-sizing: border-box;
    width: 77vw;
    margin-left: auto;
  }
  section p {
    font-size: 18px;
    line-height: 1.6;
     /* アニメーション前は非表示にする */
  }
  
  /* フッターのスタイル */
  footer {
    background: #000;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 77vw;
    height: 4vh;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-ttl.center-ttl{
    margin-bottom: 20px;
  }
  .main-ttl {
    -webkit-animation: main-ttl 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: main-ttl 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  /* ----------------------------------------------
   * Generated by Animista on 2018-11-27 15:52:19
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation main-ttl
   * ----------------------------------------
   */
  @-webkit-keyframes main-ttl {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes main-ttl {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .main-message {
    -webkit-animation: main-message 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: main-message 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  /* ----------------------------------------------
   * Generated by Animista on 2018-11-27 15:52:19
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation main-ttl
   * ----------------------------------------
   */
  @-webkit-keyframes main-message {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes main-message {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .top-btn {
    -webkit-animation: top-btn 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: top-btn 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  /* ----------------------------------------------
   * Generated by Animista on 2018-11-27 15:52:19
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation main-ttl
   * ----------------------------------------
   */
  @-webkit-keyframes top-btn {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes top-btn {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
/* ▼TOPページstyle調整 */
  #TopContainer{
    background-image: url(../img/TOP1.jpg);
    background-position: center 0%;
    background-size: 110%;
    height: 96vh;
    text-align: left;
    position: relative;
    animation: bg-anime 5s 1;
    animation-direction: alternate;
  }
  @keyframes bg-anime {
    0%{
      background-size: 105%;
    }
    100%{
      background-size: 110%;
    }
  }
  #TopContainer .main-ttl{
    font-family: 'Dancing Script', cursive;
    font-size: min(5vw,60px);
    color: #ff6600;
  }
  #TopContainer .message-wrapper{
    position: absolute;
    top: 22%;
    background-color: rgba(0,0,0,.5);
    padding: 20px 40px;
    border-radius: 5px;
  }
  #TopContainer .main-message{
    margin-bottom: 15px;
  }
/* ▼infoページstyle調整 */
#InfoContainer{
  background-image: url(../img/TOP2.jpg);
  background-position: center;
  background-size: 160%;
  text-align: center;
  position: relative;
  animation: bg-anime2 15s ease infinite;
  animation-direction: alternate;
  position: relative;
}
@keyframes bg-anime2 {
  0%{
    background-position: center 0%;
  }
  80%{
    background-position: center 30%;
  }
  100%{
    background-position: center 0%;
  }
}
#InfoContainer .main-ttl {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: #fff;
}
#InfoContainer .info-box{
  width: 700px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 0;
}
#InfoContainer .info-top-img {
  width: 45%;
  margin-right: 30px;
}
#InfoContainer .info-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto 15px;
}
#InfoContainer .info-sub-ttl{
  line-height: 1.7;
  margin-bottom: 20px;
}
#InfoContainer .release-icon{
  padding: 8px 20px;
  border: solid 1px #fff;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.6);
}
#InfoContainer .music-list{
  width: calc(80% - 1em);
  text-align: left;
  font-size: 25px;
  margin: 0px auto 40px;
}
#InfoContainer .music-list li{
  border-bottom: solid 1px #eee;
}
#InfoContainer .music-list li:not(:last-of-type){
  margin-bottom: 20px;
}
/* ▼aboutページstyle調整 */
#AboutContainer{
  background-image: url(../img/TOP3.jpg);
  background-position: center 0%;
  background-size: cover;
  text-align: center;
  position: relative;
  animation-direction: alternate;
  position: relative;
  padding: 20px 30px;
}
#AboutContainer .main-ttl{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: #fff;
}

#AboutContainer .profile-container{
  width: 700px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 10px;
}
#AboutContainer .about-profile{
  padding: 15px;
  border: solid 1px #fff;
  margin-bottom: 20px;
}
#AboutContainer .profile-list{
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
}
#AboutContainer .profile-list li{
  border-bottom: 1px #fff solid;
  padding: 5px 0;
}
#AboutContainer .message{
  text-align: left;
  font-size: 16px;
}
#AboutContainer .box-ttl{
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
#AboutContainer .skill-box{
  list-style: none;
  width: 41%;
  text-align: left;
  margin-right: 2%;
}
#AboutContainer .skill-list li{
  padding: 5px 0;
  list-style: none;
}
#AboutContainer .skill-list li:not(:last-of-type){
  border-bottom: solid 1px #fff;
}
#AboutContainer .under-box{
  display: flex;
}

/* ▼Worksページstyle調整 */
#WorksContainer{
  text-align: center;
  position: relative;
  padding: 20px 30px 50px;
  background-color: #000;
}
#WorksContainer .main-ttl{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: #fff;
}
#WorksContainer .works-item{
  width: 300px;
  background-color: #ff6600;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: .5s;
  cursor: pointer;
  height: 540px;
}
#WorksContainer .works-item:not(:first-of-type){
  margin-left: 20px;
}
#WorksContainer .works-item:hover{
  transform: scale(1.05);
  transition: .5s;
}
#WorksContainer .item-thum{
  width: 250px;
  margin-bottom: 10px;
}
#WorksContainer .works-ttl{
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
  width: 250px;
  padding: 8px 0;
}
#WorksContainer .music-list{
  width: calc(250px - 2em);
  text-align: left;
  padding: 0 0 0 1.5em;
  margin: 10px auto 0;
  height: 160px;
  overflow-y: scroll;
}
#WorksContainer .music-list li{
  padding: 5px;
}
#WorksContainer .music-list li:not(:last-of-type){
  border-bottom: solid 1px #fff;
}
#WorksContainer .works-item-wrapper{
  display: flex;
  width: 700px;
  margin: 0 auto;
  overflow: scroll;
  padding: 20px;
  background-color: rgba(255,255,255,.2);
  border-radius: 5px;
}
#WorksContainer .works-item a{
  color: #fff;
  text-decoration: none;
}